.mainContainer {
  display: grid;
	grid-template-columns: 30% 70%;
  width: 100vw;
	height: 100vh;
}
.mainContainer > div {
  padding: 1em;
}
.filterDiv {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: white;
}

.restaurantDash {
	background-color: #eeeeee ;
	height: 100%;
}

.dash {
	display: flex;
}

.dash > div {
	padding: 10px;
	margin: 10px;
	justify-self: center;
}

.restaurantList { 
  background-color:#e0e0e0;
	height: 100%;
  min-height: 1000px;
}

.image {
	height: 300px ;
	width: 300px;
}

.restName {
	margin: 0;
	font-weight: bold;
	font-size: 25px;
	color: #424242;
}

.restLocation {
	margin: 0;
	font-size: 15px;
	color: lightslategray;
}

.restInfo {
	color: #424242;
	margin: 0;
}
.info {
	margin: 0;
	color: #757575;
}

.cuisines {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
}

.cui {
	color:#757575;
	font-size: 12px;
}

.cuiLabel {
	color: #424242 ;
  font-size: 13px;
  margin-left: -1.25rem;
}

.checkboxDiv {
  margin-top: 8px;
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

/*####################################################################################*/

.alisar {
  background: url('./images/rest.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 100px 0;
  text-shadow: 1px 0 black;
	text-shadow: none;
	background-position: center;
}

.alisar .logo {
  font-size: 70px;
  color: white;
  height: 110px;
  width: 110px;
  font-family: cursive;
  text-align: center;
  padding-top: 33px; 
  margin: auto;
  margin-bottom: 30px;
}

.alisar h1 {
  color: whitesmoke;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 0px 0 rgb(0, 0, 0);
}

.searchBar {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 600px;
  margin: auto;
  border-radius: 5px;
  box-sizing: border-box;
}

.searchBar .city {
  margin: 15px;
  width: 300px;
  height: 35px;
  font-weight: 100;
  padding: 6px 12px;
  border-radius: 5px;
  background-color: white;
}

.searchBar .search-btn {
  margin: 15px;
  font-size: 15px;
  height: 35px;
  width: 150px;
  font-weight: 600;
  border-radius: 5px;
  background-color: #17a2b8;
  border: 1px solid #4dd0e1;
  color: #eeeeee;
  cursor: pointer;
}

.searchBar .search-btn:hover {
  background-color: #757575;
}

.listBox {
	display: flex;
}

@media (max-width: 950px) {
  .searchBar {
    width: 70%;
  }
  .searchBar .city {
    width: 150px;
    margin: 15px 5px 15px 10px;
	}
	
  .searchBar .search-btn {
    width: 90px;
    margin: 15px 5px 15px 10px;
  }
}

.cardImage {
	width:430px;
	margin: 30px;
}

img.homeCard1 {
	content: url('./images/food1.jpeg');
	height: 200px;
}

img.homeCard2 {
	content: url('./images/food2.jpeg');
	height: 200px;
}


@media (max-width: 600px) {
  .searchBar {
    display: block;
  }
  .searchBar .city, .searchBar .search-btn {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
  }
  .searchBar div {
    width: 90%;
    margin: auto;
    align-content: center;
    padding: 10px;
  }
}

/*####################################################################################*/

.sidebar a {
  display: block;
  color: #424242;
  padding: 8px;
  text-decoration: none;
  border-bottom: 1px solid lightgray;
  text-align: left;
}

.sidebar a:hover {
  background-color: #4dd0e1;
  color: white;
}
  
@media screen and (max-width: 700px) {
	.sidebar {
  	width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
}
  
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

/*####################################################################################*/

.restImage {
  height: 450px;
  width: 100%;
}

.overviewElem {
  margin-left: 10px;
  font-size: 15px;
  /* font-weight: normal; */
  margin-bottom: 20px;
}

.checkmark {
  display:inline-block;
  width: 22px;
  height:22px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

.checkmark_circle {
  position: absolute;
  width:22px;
  height:22px;
  background-color: #4dd0e1;
  border-radius:11px;
  left:0;
  top:0;
}

.checkmark_stem {
  position: absolute;
  width:3px;
  height:9px;
  background-color:#fff;
  left:11px;
  top:6px;
}

.checkmark_kick {
  position: absolute;
  width:3px;
  height:3px;
  background-color:#fff;
  left:8px;
  top:12px;
}

.reviews-members .media .mr-3 {
  width: 56px;
  height: 56px;
  object-fit: cover;
}
.rounded-pill {
  border-radius: 50rem!important;
}